<?xml version="1.0" encoding="UTF-8"?>
<!--
  Example launch file for a costmap generator node
-->
<launch>
  <arg name="resolution" default="0.2" />

  <node pkg="msfm3d" type="costmap_generator" name="costmap_generator">
    <param name="rate" value="5.0"/>
    <param name="octomap_free_cost" value="0.05"/>
    <param name="unseen_cost" value="-1.0"/>

    <remap from="esdf" to="edt"/>
    <remap from="octomap_binary" to="octomap_ignore"/>
    <remap from="octomap_full" to="merged_map"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="passthrough_reach" args="load pcl/PassThrough pcl_manager_costmap">
    <remap from="~input" to="reach_grid" />
    <remap from="~output" to="reach_grid_filtered" />
    <rosparam>
      filter_field_name: z
      filter_limit_min: 0.0
      filter_limit_max: 0.2
      filter_limit_negative: False
    </rosparam>
  </node>
</launch>
