<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <group ns="X1">
    <arg name="resolution" value="0.2" />
    <include file="$(find marble_mapping)/launch/marble_mapping_local.launch">
      <arg name="base_frame_id" value="X1/base_link"/>
    </include>
    <include file="$(find ground_finder)/launch/traversability_to_edt.launch">
      <arg name="robot_frame" value="X1/base_link"/>
    </include>

    <include file="$(find msfm3d)/launch/costmap_generator.launch"/>
  </group>
</launch>